/* .landing-page{
    background-color: blue;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 100px;
    max-width: 100%;
    max-height: 100vh;
    min-height: fit-content;
    min-width: fit-content;
}

.img-fluid{
    width: 100%;
    height: auto;
    max-width: 700px;
    min-width: 300px;
    margin: 20px;
}

.welcome-text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.Med{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: tomato;
    font-weight: 800;
    animation: Text 7s ease-in infinite;
}

@keyframes bouncer {
    0% {transform: translateY(0%); background-color: tomato}
    25%{transform: translateY(25%); background-color: #a0604f;}
    50%{transform: translateY(0%); background-color: #313131;}
}

#loGo{
    animation: rotate 7s ease-in infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}


.start{
    background-color: #FF6142;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 80px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 1px solid #ffff;

    

    background-color: rgb(82, 131, 9);
    display: flex;
    justify-content: center;
    align-content: center;
    animation: bouncer 7s ease-in infinite;
}

@keyframes Text {
    0% {transform: translateY(0%); color: tomato}
    25%{transform: translateY(0%); color: rgb(5, 22, 100);}
    50%{transform: translateY(0%); color: #c0ec7a;}
    75%{transform: translateY(0%); color: rgb(255, 255, 255);}
}

p{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
} */