#body{
    background-color: #212529;
    color: #ffff;
    max-width: 100%;
    max-height: 100vh;
    min-height: fit-content;
    min-width: fit-content;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: #FA9A61;
    text-decoration: none;
    font-size: 0.9rem;
}

p{
    font-size: 0.9rem;
    margin-bottom: 30px;
    text-align: center;
}

#body Input{
    width: 100%;
}

#body Input:hover{
    border: 1px solid rgb(221, 105, 10);
}

.btn{
    background-color: rgb(5, 10, 80);
}

#body Button{
    width: 100%;
    color: #ffffff;
    border-radius: none;
    padding: 11px;
    background-color: #1769bb;
}

#body Button:hover{
    border: 1px solid #19793e;
}

#createText{
    margin-bottom: 10px;
}